//BASE COLOR PALETTES

//Celeste
$celeste1: #ebfaff;
$celeste2: #99e4ff;
$celeste3: #47ceff;
$celeste4: #00aeee;
$celeste5: #0096cc;
$celeste6: #00698f;
$celeste7: #003c52;
$celeste8: #001e29;

//Azul
$azul1: #c2ddff;
$azul2: #70b0ff;
$azul3: #1f84ff;
$azul4: #0066e2;
$azul5: #0049a3;
$azul6: #002e66;
$azul7: #001c3d;

//Naranja
$naranja1: #fef4ec;
$naranja2: #fce0c5;
$naranja3: #f8ad63;
$naranja4: #f58c24;
$naranja5: #ea7a0b;
$naranja6: #af5c08;
$naranja7: #753d06;
$naranja8: #3a1f03;

// -------------------------------//

//NEUTRAL COLORS
$text_primary: #000000;
$text_secondary: #1e1e1e;
$text_tertiary: #626262;
$text_quaternary: #a8a8a8;
$text_quinary: #dedede;
$text_senary: #f3f3f3;
$text_light: #ffffff;
