//TEXT COLORS
$text_heading: #000000;
$text_description: #a8a8a8;
$text_disabled: #626262;
$text_label: #000000;
$text_button_hover: #626262;

//ICONS
$icon: #626262;
$icon_disabled: #a8a8a8;

//BORDERS
$border: #626262;
$border_focused: #626262;
$border_disabled: #a8a8a8;

//FILL
$fill_hover: #f3f3f3;
$fill_pressed: #dedede;
$fill_focused: #f3f3f3;

//BRAND COLORS

//LINKS
$link: #1f84ff;
$link_hover: #0066e2;
$link_focused: #0066e2;
$link_pressed: #0049a3;

//BUTTONS
$button_enabled: #f58c24;
$button_hover: #f8ad63;
$button_focused: #f8ad63;
$button_pressed: #ea7a0b;
