.main-navbar {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: "menu logo actions";
  justify-items: center;

  padding: 16px 40px;

  .logo-container {
    grid-area: logo;

    display: flex;
    justify-content: center;

    .main-logo {
      height: 50px;
    }
  }

  .menu {
    grid-area: menu;

    display: flex;
    flex-direction: row;
    align-items: center;
    //gap: 24px;

    border: none;

    &::before {
      content: none;
    }

    a {
      color: black;
    }

    li {
      .ant-menu-title-content {
        line-height: 28px;
      }
    }
  }

  .actions {
    grid-area: actions;

    display: flex;
    flex-direction: row;
    align-items: center;
    //justify-content: flex-end;
    gap: 10px;
  }
}
