.main-layout {
  background: white;

  .body {
    gap: 40px;

    .header {
      background: white;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      line-height: normal;

      padding: 0;
      height: auto;

      position: sticky;
      top: 0;
    }

    .content {
      background: white;
      //padding: 80px 120px;
    }

    .footer {
      margin-top: 40px;
    }
  }
}
